.badge-success {
        background-color: #398439;
      }
.badge-large{
  font-size:32px;
  vertical-align:top;
}
.dark-blue{
  background-color:#015965; 
  }
.fullwidth{
	width:100%;
}
.form-group .input-group{
	width:400px;
  max-width:800px;
  width:100%;
}
.h1 {
	font-color: #fff;
}
.badge-success{
  background-color:#015965;
}
.fb {
  color:#3b5998;
}
.gplus {
  color:#d34836;
}
.light-blue{
  background-color:#5FC0CE;
}
#main-container{
  min-height: 400px;
}
.text-dark-blue{
  color:#015965; 
}
.text-success{
  color:#015965;
}
.text-white{
  color:#fff;
}
.top-padded{
  padding-top:20px;
}
.twitter{
  color:#4099FF;
}
.urlinput{
	maxlength:100%;
}
.jumbotron{
  	opacity: 0.5;
  }
.white{
  background-color:#fff;
}
.yt{
  color:#b31217;
}

/* margins and paddings */
.mb20 {
  margin-bottom: 20px;
}


#id_long_url {
  width:50vh;
}

	video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(polina.jpg) no-repeat;
	background-size: cover;
	}

  /* Doorway */
  /* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    50%  {left:50px; top:0px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    50%  {left:50px; top:0px;}
    100% {left:0px; top:0px;}
}
.chkdys {
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
    position:relative;
    animation-iteration-count: infinite;
}