{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}


{% block title %}{% trans "Sign In" %}{% endblock %}
{% block panel_heading %}{% trans "Sign In" %}{% endblock %}
{% block panel_right %}<a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>{% endblock %}

{% block content %}
  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}

   <form role="form" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
   {% if form.errors %}
    <div class="alert alert-danger">
      {% for error in errors %}
        <a class="close" data-dismiss="alert" href="#">×</a>{{ error.message }}
      {% endfor %}
    </div>
  {% endif %}
  <div style="margin-bottom: 12px" class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="id_login" type="email" class="form-control" name="login" value="" placeholder="email">                                        
  </div>
      
  <div style="margin-bottom: 12px" class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="id_password" type="password" class="form-control" name="password" placeholder="password">
  </div>
          
  <div class="input-group">
    <div class="checkbox" style="margin-top: 0px;">
      <label>
        <input id="id_remember" type="checkbox" name="remember" value="1"> Remember me
      </label>
    </div>
  </div>
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
                                    
  <button type="submit" class="btn btn-success">{% trans "Sign In" %}</button>
  
  <hr style="margin-top:10px;margin-bottom:10px;" >
  
  <div class="form-group">
                                    
          <div style="font-size:85%">
              Don't have an account! 
          <a href="{% url 'account_signup' %}" onClick="$('#loginbox').hide(); $('#signupbox').show()">
              Sign Up Here
          </a>
          </div>
      
  </div> 
</form>
{% endif %}
{% endblock %}
