{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}
{% block panel_heading %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div style="margin-bottom: 12px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="id_email" type="email" class="form-control" name="email" value="" placeholder="email">                                        
        </div>
        <button type="submit" class="btn btn-success">{% trans 'Reset My Password' %}</button>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

{% endblock %}
