{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} | {{ config.name }}</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
  <!-- Bootstrap -->
    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <style>
      {% block style %}{% endblock %}
    </style>

  </head>

  <body class="dark-blue">
  
  {% block navbar %}
  {% endblock %}
	
    <div class="container">
      <div class="col-lg-4 col-lg-offset-4 col-sm-12" style="margin-top:70px;" id="main-container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>{% block panel_heading %}{% endblock %}</strong></h3>
            <div style="float:right; font-size: 80%; position: relative; top:-10px">
              {% block heading_right %}{% endblock %}
            </div>
          </div>
          <div class="panel-body">
          	{% block content %}
          	{% endblock %}
          </div>
        </div>
      </div>
   </div>
  
  
  {% include 'javascript.html' %}
  
  <script type="text/javascript">
    $(document).ready(function(){
      {% block js %}
      {% endblock %}
    });
  </script>
  

  </body>
  </html>