{% extends 'base2.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block title %}{% trans 'Home' %}{% endblock%}


{% block content %}
 <div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> {%trans 'Total URLs' %}</span>
      <div class="count">{{ items.count }}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> {%trans 'Total Visits' %}</span>
      <div class="count">{% if items.hits %}{{ items.hits }}{% else %}0{% endif %}</div>
    </div>
  </div>
  <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% include 'dashboard/_mainchart.html' %}
        </div>
    </div>
          <br />
   <div class="row">

      {% include 'dashboard/_bestperformers.html' %}

      {% include 'dashboard/_deviceusage.html' %}

      {% include 'dashboard/_countries.html' %}

  </div>
 

  <!-- modal -->
   <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-2x fa-exclamation-triangle yt"></i> {% trans 'Confirm Delete' %}</h4>
                </div>
            
                <div class="modal-body">
                    <p>{% trans 'You are about to delete URL' %} <strong><span id="urlid"></span></strong>, {% trans 'this procedure is irreversible' %}.</p>
                    <p>{% trans 'Do you want to proceed' %}?</p>
                    <p class="debug-url"></p>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <a class="btn btn-danger btn-ok">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>
    </div>

  <!-- end of modal -->

{% endblock %}

{% block js %}
  $('#confirm-delete').on('show.bs.modal', function(e) {
  			var urlid = $(e.relatedTarget).data('urlid');
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $('#urlid').html(urlid);
        });
{% endblock %}

{% block scripts %}
<script>
      $(document).ready(function(){
        $.get('/ajax/countries/', function(data) {
            $('#world-map-gdp').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#666666',
                enableZoom: true,
                showTooltip: true,
                values: data,
                scaleColors: ['#E6F2F0', '#149B7E'],
                normalizeFunction: 'polynomial'
            });
        });
      });
    </script>
       <!-- Doughnut Chart -->
    <script>
      $(document).ready(function(){
        var options = {
          legend: false,
          responsive: false
        };

        $.get('/ajax/devices/', function(fetched) {
            // console.log(Object.keys(fetched));
            new Chart(document.getElementById("canvas1"), {
              type: 'doughnut',
              tooltipFillColor: "rgba(51, 51, 51, 0.55)",
              data: {
                labels: Object.keys(fetched),
                datasets: [{
                  data: Object.values(fetched),
                  backgroundColor: [
                    "#26B99A",
                    "#3498DB"
                  ],
                  hoverBackgroundColor: [
                    "#36CAAB",
                    "#49A9EA"
                  ]
                }]
              },
              options: options
            });
        });


        $.get('/ajax/best-performers/', function(fetched) {
            var total_perf = {{ items.hits }};
            fetched.forEach( function (arrayItem) {
                var perc = Math.floor((arrayItem.hits / total_perf) * 100);
                var url_id = arrayItem.url_id;
                var u = $(".widget_summary:first").clone().attr("id", url_id);
                u.find(".progress-bar").css("width", (perc +"%"));
                u.find(".w_leftw_25_s").html("<a href='/" + url_id + "/stat'>" + url_id +"</a>");
                u.find(".w_rightw_20_s").text(arrayItem.hits);
                u.removeClass('hidden');
                u.insertAfter(".widget_summary:last");
                u.find(".w_left w_25_").append("afawegfswegsrgses");
            });
        });

        
      });
    </script>
    <!-- /Doughnut Chart -->

    <script>
      $(document).ready(function() {
        $.get('/ajax/daily/', function(fetched) {
            props = []
            for (var prop in fetched) {
                days = prop.split(",");
                ist = [gd(days[0], days[1], days[2]), fetched[prop]];
                props.push(ist)
            }
            $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
              props,
            ], {
              series: {
                lines: {
                  show: false,
                  fill: true
                },
                splines: {
                  show: true,
                  tension: 0.4,
                  lineWidth: 1,
                  fill: 0.4
                },
                points: {
                  radius: 0,
                  show: true
                },
                shadowSize: 2
              },
              grid: {
                verticalLines: true,
                hoverable: true,
                clickable: true,
                tickColor: "#d5d5d5",
                borderWidth: 1,
                color: '#fff'
              },
              colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
              xaxis: {
                tickColor: "rgba(51, 51, 51, 0.06)",
                mode: "time",
                tickSize: [1, "day"],
                //tickLength: 10,
                axisLabel: "Date",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 10
              },
              yaxis: {
                ticks: 8,
                tickColor: "rgba(51, 51, 51, 0.06)",
              },
              tooltip: false
            });
            });
        var data1 = [
          [gd(2012, 1, 1), 17],
          [gd(2012, 1, 2), 74],
          [gd(2012, 1, 3), 6],
          [gd(2012, 1, 4), 39],
          [gd(2012, 1, 5), 20],
          [gd(2012, 1, 6), 85],
          [gd(2012, 1, 7), 7]
        ];

        var data2 = [
          [gd(2012, 1, 1), 82],
          [gd(2012, 1, 2), 23],
          [gd(2012, 1, 3), 66],
          [gd(2012, 1, 4), 9],
          [gd(2012, 1, 5), 119],
          [gd(2012, 1, 6), 6],
          [gd(2012, 1, 7), 9]
        ];
        

        function gd(year, month, day) {
          return new Date(year, month - 1, day).getTime();
        }
      });
    </script>
{% endblock %}