{% load i18n %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="{% url 'home' %}"><p class="navbar-text"><span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
        </span> {{ config.name }}</p></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% ifequal request.path '/'%} active {% endifequal%}"><a href="{% url 'home' %}">{% trans 'Home'%} <span class="sr-only">(current)</span></a></li>
        <li class="{% ifequal request.path '/about/'%} active {% endifequal%}"><a href="{% url 'about' %}">{% trans 'About'%}</a></li>
        <li class="{% ifequal request.path '/contact/'%} active {% endifequal%}"><a href="{% url 'contact' %}">{% trans 'Contact Us' %}</a></li>
        {% if request.user.is_authenticated %}
        <li class="{% ifequal request.path '/dashboard/'%} active {% endifequal%}"><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
        {% endif %}
      </ul>
  
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <p class="navbar-text">{% trans 'Howdy' %} <strong><a href="{% url 'profile' %}">{{ request.user.username }}</a></strong>!</p>
          <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i>{% trans 'Logout' %}</a></li>
        {% else %}
          <li><a href="{% url 'account_signup' %}">{% trans 'Register' %}</a></li>
        {% endif %}
        {% if not request.user.is_authenticated and not '/accounts/login' in request.get_full_path %}
          <form class="navbar-form navbar-right" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name='username' placeholder="{% trans 'Username' %}" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name='password' placeholder="{% trans 'Password' %}" />
            </div>
            <button type="submit" class="btn btn-default" ><i class="fa fa-sign-in"></i> {% trans 'Login' %}</button>
          </form>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>