{% extends 'base2.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block title %}{% trans 'Home' %}{% endblock%}


{% block content %}
 <h1>{% trans 'Your URLs' %}</h1><hr>
 <div class="row">
<div class="col-md-8 col-sm-8 col-xs-12">
    <div class="x_panel tile fixed_height_320">
      <div class="x_title">
        <h2>New URL</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form method="POST" action="" class="form-horizontal form-label-left">{% csrf_token %}
          {% for field in form %}
           <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">{{ field.label }} <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12" type="text">
              </div>
            </div>
          {% endfor %}
        </form>

        
      </div>
    </div>
  </div>
</div>




{% endblock %}

{% block js %}
  $('#confirm-delete').on('show.bs.modal', function(e) {
            var urlid = $(e.relatedTarget).data('urlid');
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $('#urlid').html(urlid);
        });
{% endblock %}
