 {% load i18n %}
 <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{% url 'dashboard' %}" class="site_title"><i class="fa fa-eye"></i> <span>LINK Guru</span></a>
            </div>

            <div class="clearfix"></div>


            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Modules</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> {% trans 'Home' %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> {% trans "Link Management" %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'campaigns' %}">{% trans 'Campaigns' %}</a></li>
                      <li><a href="{% url 'campaign-create' %}">{% trans 'Create campaign' %}</a></li>
                      <li><a href="{% url 'urllist' %}">{% trans 'URLs' %}</a></li>
                      <li><a href="{% url 'newurl' %}">{% trans 'Create URL' %}</a></li>
                      <li><a href="{% url 'campaign-bulk' %}">{% trans 'Create Bulk URLs' %}</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> {% trans 'API' %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'tokenlist' %}">{% trans 'Configuration' %}</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> {% trans 'A/B Tests' %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'test-list' %}">{% trans 'Test Suites' %}</a></li>
                      <li><a href="{% url 'testsuite-create' %}">{% trans 'Create Test Suite' %}</a></li>
                    </ul>
                  </li>
            
                </ul>
              </div>
              <div class="menu_section">
                <h3>Live On</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bug"></i> {% trans 'Settings' %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'organization-info' %}">{% trans 'Company profile' %}</a></li>
                      <li><a href="{% url 'users-list' %}">{% trans 'Users' %}</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>