{% extends 'base2.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block title %}API{% endblock%}


{% block content %}
 <h1>{% trans 'Dashboard'%}</h1><hr>
 <div class="row">
 	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
 		<ul class="nav nav-tabs">
		  <li role="presentation"><a href="{% url 'dashboard' %}">{% trans 'Your URLs' %}</a></li>
		  <li role="presentation" class="active"><a href="{% url 'tokenlist' %}">{% trans 'API Integration' %}</a></li>
		</ul>
 	</div>
 </div>
 <div class="row">
    <div class="col-xs-12 top-padded"><h4><strong>{% trans 'Your API Token' %}</strong></h4>
    	{% for token in tokens %}
	  		{{ token.uuid }}
	  	{% endfor %}
	 </div>
  </div>

{% endblock %}

{% block js %}
  $('#confirm-delete').on('show.bs.modal', function(e) {
  			var urlid = $(e.relatedTarget).data('urlid');
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $('#urlid').html(urlid);
        });
{% endblock %}